parameters:
	ignoreErrors:
		-
			message: "#^Property Bolivir\\\\Multipay\\\\MultiPay\\:\\:\\$driverInstance \\(Bolivir\\\\Multipay\\\\Contracts\\\\DriverInterface\\) does not accept object\\.$#"
			count: 1
			path: src/MultiPay.php
